{%  load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{% static 'Rebike/style.css' %}">

    <div class="heading"> <!--heading--> ReBike </div>
</head>

<body>
<!--side navigation bar-->
<div class="sidenav">
   <a href="\homepage"><img  alt="Menu" src="{% static 'Rebike/Menu.png' %}"/></a>

    <h2><a href="\operator_index"><img  alt="Home" src="{% static 'Rebike/Logo.png' %}"/></a></h2>
   <a href="\change_info">change information</a>

        <a href="\step">rent a bike</a>

        <a href="\return_car">return bike</a>

        <a href="\defective">Report defective bike</a>
    <a href="\logout">Logout</a>
</div>


<div class="main">

    {% block content %}{% endblock %}

</div>

</body>
</html>
