{% extends 'customer_base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReBike - Change information</title>
<div class="subheading">Change information </div>
</head>
<body>
<div class="card">

    <div class="card-body">
        <h3>Here you can update your information</h3><br>
        <p><a href="\reset_password">Click here to reset your password</a></p>
        <p><a href="\reset_email">Click here to change your email address</a></p>
    </div>
</div>

</body>
{% endblock %}
</html>