<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReBike</title>
    <link rel="stylesheet" type="text/css" href="/static/css/auth1.css">
</head>
<body background="../static/Rebike/bikehome1.png">
{{ message }}
<div class="login">
    <div class="login-wrapper" style="min-height: 425px;">
        <div class="login-box lowin-login">
            <div class="login-box-inner">
            <div class="login-group">
                    <label class="slogan">Welcome to ReBike</label>
                </div>
            <div class="text-foot">
                <a href="\index">Personal Homepage</a><br><br>
                <a href="\logout">Logout</a>
            </div>



            </div>
        </div>


    </div>
    <footer class="login-footer">

    </footer>
</div>
<script src="/static/js/auth.js"></script>
</body>
</html>