{% extends 'manager_base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReBike - Reset password</title>
    <div class="subheading">As a manager you can reset your password</div>
</head>
<body>
<div class="card">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
{{ message }}
<form action="" method="post">
    {% csrf_token %}
    <p>
        current password:<input type="password" name="pwd">
    </p>
    <P>
        new password:<input type="password" name="new_pwd">
    </P>
    <p>
        {{ error }}
    </p>

    <button class="btn btn-primary">change password</button>
</form>

</body>
{% endblock %}
</html>