{% extends 'operator_base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReBike - Reset password</title>
    <div class="subheading">As an operator you can reset your email</div>
</head>
<body>
<div class="card">
    <div class="card-header">Reset Email</div>
    <div class="card-body">
{{ message }}
<form action="" method="post">
    {% csrf_token %}
    <p>
        current email: {{ user_obj.email }}
    </p>
    <p>
        new email:<input type="email" name="new_email">
    </p>

    <p>
        {{ error }}
    </p>

    <button class="btn btn-primary">change email</button>
</form>

</body>
{% endblock %}
</html>