<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReBike - Retrieve password</title>
    <link rel="stylesheet" type="text/css" href="/static/css/auth1.css">
</head>
<body background="../static/Rebike/bikehome1.png">
<div class="login">
    <div class="login-wrapper" style="min-height: 425px;">
        <div class="login-box lowin-login">
            <div class="login-box-inner">
            <form action="#login" method="post">
                {% csrf_token %}
                <div class="login-group">
                    <label>Email</label>
                    <input class="login-input" type="email" name="email">
                </div>
                <p>
                 {{ error }}
                 {{ message }}
                </p>
                <button class="login-btn">Retrieve Password</button>
            </form>
            <div class="text-foot">
                <a href="\homepage_user">Homepage</a>
            </div>


            </div>
        </div>


    </div>
    <footer class="login-footer">

    </footer>
</div>
{% comment %}<form action="" method="post">
    {% csrf_token %}
    <P>
        email:<input type="email" name="email">
    </P>
    <p>
        {{ error }}
        {{ message }}
    </p>

    <button>retrieve password</button>
</form>{% endcomment %}

{% comment %}<p><a href="\change_info">change information</a></p>
<p></p>
<p><a href="\step">rent a bike</a></p>
<p></p>
<p><a href="\return_car">return bike</a></p>
<p></p>
<p><a href="\defective">Report defective bike</a></p>
<p></p>
<p><a href="\logout">logout</a></p>
<p></p>
<p><a href="\homepage_user">homepage</a></p>{% endcomment %}

<script src="/static/js/auth.js"></script>
</body>
</html>